<h1>🍣Sushi Calculator</h1>
<table>
  <tr>
    <td>I will make</td>
    <td class="align-right">
      <input
        type="number"
        [min]="minRollsCount"
        [max]="maxRollsCount"
        step="1"
        [(ngModel)]="rollsCount"
      />
    </td>
    <td>roll(s)</td>
  </tr>
  <tr>
    <td>Rice</td>
    <td class="align-right">{{ rice() | number: '1.2-2' }}</td>
    <td>cup(s)</td>
  </tr>
  <tr>
    <td>Water</td>
    <td class="align-right">{{ water() | number: '1.2-2' }}</td>
    <td>cup(s)</td>
  </tr>
  <tr>
    <td>Vinegar</td>
    <td class="align-right">{{ vinegar() | number: '1.2-2' }}</td>
    <td>tablespoon(s)</td>
  </tr>
  <tr>
    <td>Sugar</td>
    <td class="align-right">{{ sugar() | number: '1.2-2' }}</td>
    <td>tablespoon(s)</td>
  </tr>
  <tr>
    <td>Salt</td>
    <td class="align-right">{{ salt() | number: '1.2-2' }}</td>
    <td>teaspoon(s)</td>
  </tr>
</table>
<h3>Recipe:</h3>
<ol>
  <li>Wash the rice until there is no more starch coming out of it.</li>
  <li>Boil the water.</li>
  <li>Put the rice in boiled water. Cover the pot.</li>
  <li>Cook in low heat. Cook until there is no water left in the pot.</li>
  <li>Mix vinegar, sugar and salt until all solids are mixed.</li>
  <li>Pour the mixture on the rice and mix well.</li>
  <li>Wait the rice cool down to room temperature before rolling.</li>
</ol>
<p>
  © 2023
  <a href="https://egemen-ciftci.web.app/" target="_blank">Egemen Çiftci</a>
</p>
